@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold,sans-serif;
}
  
.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}
body{
    margin: 0;
    padding: 0;
}

.left{
    background-image: url(./antoine-j-A_0C42zmz1Q-unsplash.jpg);
    width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold sans-serif;
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.first{
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}
.second{
    height: 30vh;
    background-color: white;
    align-items:center;
    

}
.third{
    margin-left: 50px;
    margin-bottom: 20px;
    height:30vh
    
}

.four-main-divs {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin-left: 50px;
} 


.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
input{
    width: 200px;
    border: 1px solid #E5E7EB;
    height: 25px;
    border-radius: 4px;
}
input:focus{
    border: blue;
}
input:invalid{
    border: 1px solid red;
}
#smalltext{
    margin-left: 50px;
}

form{
    display: flex;
    flex-direction: column;
}

.btn-btn-green{
    color: white;
    background-color: #596048;
    border: 1px solid #596048;
    border-radius: 10px;
    min-height: 36px;
    width: 200px;
    box-shadow: 2px 5px #E5E7EB;
}

.login {
    color: #596048;
    text-decoration: none;
    font-weight: bold;
}

.a-footer {
    color: white;
}

.p-footer {
    font-size: 12px;
    text-align: center;
}
.forimage{
    min-height: 40vh;
    display: flex;
    align-items: flex-end;
}
.footer{
    min-height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vh;

}

.semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: rgb(173, 167, 167);
    align-items: center;
    opacity: .4;
}

.imageh1 {
    color: whitesmoke;
}
